

    @for(student of currentListStudent ; track student.Id){
        <div>
        <h1>{{student.Name}}</h1>   
        <button (click)="setShowComponent(student.Id)">edit</button>
            @if(showComponent == student.Id){
                <app-student-details (setStudent)="setStudentInList($event)" [curentStudent]="student"></app-student-details>
                }
             @if(showComponent == student.Id && student.isActive==false)   {
                <p>The student is not active</p>
             }
        </div> 
    }
    <br>
    <button (click)="setShowComponent(-1)">add</button>
    @if(showComponent == -1){
        <app-student-details  (setStudent)="setStudentInList($event)" [curentStudent]="emptyStudent"></app-student-details>
    }
<br>
<br>
<button (click)="sendPopup()">delete</button>
<app-information-popup></app-information-popup>

