
    <ng-container *ngTemplateOutlet="studentList"></ng-container>
    @for(student of currentListStudent ; track student.Id){
        <div>
        <h1>{{student.Name}}</h1>   
        <button (click)="setShowComponent(student.Id)">edit</button>
        <button (click)="setCloseComponent()">close</button>
            @if(showComponent == student.Id && isOpen){
                <app-student-details (setStudent)="setStudentInList($event)" [curentStudent]="student"></app-student-details>
                }
             @if(showComponent == student.Id && student.isActive==false)   {
                <p>The student is not active</p>
             }
        </div> 
    }
    <br>
    <button (click)="setShowComponent(-1)">add student</button>
    <!-- <button (click)="setCloseComponent()">close</button> -->
    @if(showComponent == -1){
        <app-student-details  (setStudent)="setStudentInList($event)" [curentStudent]="emptyStudent"></app-student-details>
    }
<br>
<br>


<button (click)="sendPopup()">delete student</button>
<app-information-popup></app-information-popup>

<ng-container *ngTemplateOutlet="studentList"></ng-container>

<ng-template #studentList>
    <h1 style="background-color: yellow;">-------Student List--------</h1>
</ng-template>
